<section class="show-page">
    <h3>Explore</h3>
  <div class="search-bar">
    <img src="<%= asset_path('search-icon.png') %>">
      <form class="itineraries_search"><input name="search" class="search-input" placeholder="Try 'Bali'"></form>
  </div>
</section>

<section class="search-itineraries"></section>


<!-- Feature actual user Itineraries -->
<section class="featured">
  <h3>Featured</h3>
  <a href="">
    <div class="feature">
      <img src= "<%= asset_path('jez-timms-158151-unsplash.jpg')%>">
      <h4>Paris</h4>
      <p>5 Nights in Paris - Couples Edition</p>
    </div>
  </a>
  <a href="">
    <div class="feature">
      <img src= "<%= asset_path('redcharlie-530372-unsplash.jpg')%>">
      <h4>Iceland</h4>
      <p>8 Nights in Iceland - Adventurer's Only</p>
    </div>
  </a>
  <a href="">
    <div class="feature">
      <img src= "<%= asset_path('annie-spratt-546699-unsplash.jpg')%>">
      <h4>Marrakech</h4>
      <p>3 Nights in the Marrakech</p>
    </div>
  </a>

  <div class="show-all"><a href="">Show All</a></div>

</section>
