
<div class="user-homepage-nav">
  <p>Explore</p>
</div>

<div class="search-bar">
  <img src="<%= asset_path('search-icon.png') %>">
  <form>
    <input class="search-input" placeholder="Try 'Bali'">
  </form>
</div>
<!-- Log in or Sign up -->
