

    <section class="form">
      <h3> Sign up for an account </h3>
      <p>Explore travel plans and earn money off of yours!</p>
      <%= render 'form' %>

      <!-- OAuth or -->
      <div class="or-container">
        <span class="bar-icon"></span>
        <span class="or-p">or</span>
        <span class="bar-icon"></span>
      </div>

      <div class="omniauth">
        <a href="/auth/facebook"><img src="<%= asset_path("fb-login-2.png") %>"></a>
      </div>
      <p>Have an account? <a href=<%= login_path %>>Log in</a></p>
    </section>
