$(document).on('turbolinks:load', function main() {

  $('#target').submit(function(event) {
        event.preventDefault()
        console.log("prevented!")
    });

  let mapKeys = ""

  $('.search-input').on('keydown', function(e) {

    // Add search input to mapKeys
    if(e.keyCode >= 65 && e.keyCode <= 90 ) {
      mapKeys += String.fromCharCode(e.keyCode)
    } else if(e.keyCode == 8 && mapKeys.length > 0) {
      mapKeys = mapKeys.substring(0, mapKeys.length - 1)
    } else if(e.keyCode == 13) {
      e.preventDefault()
    }

    fetch(`/itineraries.json`).then(res => res.json()).then(function(data) {

      // Remove featured itineraries
      $('.featured').html("")
      $('.search-itineraries').html("")

      // search through itineraries
      let filter = []
      function filteredItineraries(data) {
        data.forEach((itinerary) => {
          let searchTerms = mapKeys.toLowerCase()
          let itineraryTitle = itinerary.title.toLowerCase()
          let itineraryDescription = itinerary.description.toLowerCase()
          let itineraryBudget = itinerary.budget
          if(itineraryTitle.includes(searchTerms) || itineraryDescription.includes(searchTerms)) {
              filter.push(itinerary)
          }
        })
      }
      filteredItineraries(data)
      filter.forEach((itinerary) => {
        let newItinerary = new Itinerary(itinerary)
        let itineraryHtml = newItinerary.formatIndex()


        $('.search-itineraries').append(itineraryHtml)
      })
    })
  })

  // Hijack submit button and post method
  $(document).on('click', "#target", function(e) {
    e.preventDefault()
    let id = $(this).attr('data-id')
    let values = $(this).serialize();
    let posting = $.post(`/itineraries/${id}/reviews`, values)

    posting.done(function(data) {
        let reviews = data
        let number_of_likes = 0

        reviews.forEach((review) => {
          if(review.like == true) {
            number_of_likes++
          }
        })
        // Show how many likes per post below
        if(number_of_likes == 1) {
          $(`.likes-${data[0].itinerary_id}`).text(number_of_likes + " Like")
        } else {
          $(`.likes-${data[0].itinerary_id}`).text(number_of_likes + " Likes")
        }
    })
  })
})

function Itinerary(itinerary) {
  this.id = itinerary.id
  this.title = itinerary.title
  this.description = itinerary.description
  this.budget = itinerary.budget
  this.departing_city = itinerary.departing_city
  this.departing_country = itinerary.departing_country
  this.reviews = itinerary.reviews
  this.number_of_likes = 0;

  this.reviews.forEach((review) => {
    if(review.like) {
      this.number_of_likes++
    }
  })
}

Itinerary.prototype.formatIndex = function() {
  let itineraryHtml = `
    <div class="itinerary">
      <h4>${this.title}</h4>
      <img src="<%= asset_path("airplane-img.jpg")%>">
      <p>${this.description} </p>
      <p>Budget: $${this.budget}</p>
      <form id="target" method="post" data-id="${this.id}" action="/itineraries/${this.id}/reviews">
        <input class="submit" type="submit" value=""></input>
      </form>
      <a class="show-reviews" data-id="${this.id}" href="/itineraries/${this.id}/reviews"><div class="likes-${this.id}">${this.number_of_likes == 1 ? this.number_of_likes + " Like" : this.number_of_likes + " Likes"}</div></a>
    </div>
  `
  return itineraryHtml
}
