/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* import font Barlow  */
 @import url('https://fonts.googleapis.com/css?family=Barlow');

body {
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  color: #000;
  margin: 0;
  height: 100vh;
  background-image: url("chuttersnap-176806-unsplash.jpg");
  background-size: cover;
}
a {
  text-decoration: none;
  color: #000;
}
header {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 0.1px solid #101D42;
  overflow: hidden;
  display: fixed;
  background-color: #fff;
}
nav {
  float: right;
  vertical-align: middle;
  margin-top: 3px;
}
nav a {
  margin-right: 20px;
  vertical-align: bottom;
}
nav a:active {
  border-bottom: 0.5px solid #EC6A5C;
}
.logo {
  float: left;
  font-size: 24px;
  font-weight: 700;
  padding-left: 20px;
}
.user-homepage-nav {
  text-align: center;
  margin-top: 20vh;
  font-weight: 700;
  font-size: 60px;
  color: #fff;
}
.search-bar {
  display: flex;
  padding: 16px;
  box-shadow: rgba(25, 50, 100, 0.25) 0px 10px 50px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 20px;
}
.search-bar img {
  width: 24px;
  height: 24px;
}
.search-input {
  margin-left: 5px;
  width: 60%;
  padding: 5px;
  border: 0px solid;
  background-color: #fff;
}
.search-input:focus {
  outline: 0;
}
footer {
  font-size: 12px;
  position: absolute;
  background-color: #fff;
  text-align: center;
  padding: 15px;
  width: 100%;
  bottom: 0;
  border-top: 0.1px solid #101D42;
}
/* Login / Signup */
.form{
  text-align: center;
  color: #000;
  padding-top: 80px;
  padding-bottom: 60px;
  margin: 120px auto;
  text-align: center;
  width: 400px;
  border-radius: 15px;
  background-color: #fff;
}
.omniauth img {
  width: 290px;
}
#error_explanation p{
  color: #EC6A5C;
}

.form p {
  width: 220px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  font-size: 14px;
}
.form h3 {
  font-size: 24px;
}
.form-group input {
  border: 0.5px solid #0A2239;
  border-radius: 4px;
  padding: 15px;
  width: 260px;
  margin-top: 10px
}
.btn-primary {
  width: 290px;
  padding: 15px;
  border-radius: 4px;
  background-color: #EC6A5C;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}
.button {
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: #EC6A5C;
  width:290px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}
a.btn-primary {
  padding: 15px 105px;
}
.form a {
  color: #EC6A5C;
}
.or-container {
  display: flex;
  align-content: stretch;
  flex-direction: row;
  margin: 15px auto;
  width: 290px;
}
.bar-icon {
  border-top: 1px solid #bbb;
  width: 100%;
  align-self: flex-start;
  margin-top: 10px;
}
.or-p {
  padding: 0 20px;

}
