
/* import font Barlow  */
@import url('https://fonts.googleapis.com/css?family=Barlow');
html {
  position: relative;
  min-height: 100vh;
}
body {
 font-family: 'Barlow', sans-serif;
 font-size: 16px;
 color: #000;
 margin: 0;
 background-color: rgb(228, 230, 233);
 margin-top: 80px;
}
a {
 text-decoration: none;
 color: #000;
}
header {
 top: 0;
 width: 100%;
 padding-top: 20px;
 padding-bottom: 20px;
 border-bottom: 0.1px solid #101D42;
 overflow: hidden;
 display: fixed;
 background-color: #fff;
 position: fixed;
 z-index: 99999;
}
nav {
 float: right;
 vertical-align: middle;
 margin-top: 3px;
}
nav a {
 margin-right: 20px;
 vertical-align: bottom;
}
nav a:active {
  border-bottom: 1px solid #EC6A5C;
}
.logo {
 float: left;
 font-size: 24px;
 font-weight: 700;
 padding-left: 20px;
}
#error_explanation p{
  color: #EC6A5C;
}
h3 {
  text-align: center;
  margin: 0 40px 40px 40px;
  font-weight: 700;
}
footer {
  font-size: 12px;
  background-color: #fff;
  text-align: center;
  padding: 15px 0;
  width: 100vw;
  height: 40px;
  border-top: 0.1px solid #101D42;
  position: absolute;
  bottom: 0;
}

/* Login / Signup */
.form{
  text-align: center;
  color: #000;
  padding-top: 80px;
  padding-bottom: 60px;
  margin: 120px auto;
  text-align: center;
  width: 400px;
  border-radius: 15px;
  background-color: #fff;
}
.omniauth img {
  width: 290px;
}

.form p {
  width: 220px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  font-size: 14px;
}
.form h3 {
  font-size: 24px;
}
.form-group input {
  border: 0.5px solid #0A2239;
  border-radius: 4px;
  padding: 15px;
  width: 260px;
  margin-top: 10px
}
.btn-primary {
  width: 290px;
  padding: 15px;
  border-radius: 4px;
  background-color: #EC6A5C;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}
.button {
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: #EC6A5C;
  width:290px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}
a.btn-primary {
  padding: 15px 105px;
}
.form a {
  color: #EC6A5C;
}
.or-container {
  display: flex;
  align-content: stretch;
  flex-direction: row;
  margin: 15px auto;
  width: 290px;
}
.bar-icon {
  border-top: 1px solid #bbb;
  width: 100%;
  align-self: flex-start;
  margin-top: 10px;
}
.or-p {
  padding: 0 20px;

}
/* Browse Page */
.search-bar {
  display: flex;
  padding: 16px;
  box-shadow: rgba(25, 50, 100, 0.25) 0px 10px 50px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 20px;
}
.search-bar img {
  width: 24px;
  height: 24px;
}
.search-input {
  margin-left: 5px;
  width: 60%;
  padding: 5px;
  border: 0px solid;
  background-color: #fff;
}
.search-input:focus {
  outline: 0;
}
.show-page h3, .featured h3 {
  font-size: 40px;
  font-weight: 700;
}
.show-page {
  padding: 40px;
  padding-bottom: 120px;
}
.featured {
  text-align: center;
}
.feature {
  position: relative;
  display: inline-block;
  margin: 20px;
  width: 300px;
  text-align: center;
}
.feature img {
  width: 200px;
}
h4 {
  font-size: 20px;
}
.see-more-btn {
  text-align: center;
  padding: 40px;
  margin-bottom: 100px;
}

/* Show Page */
.show-page {
  text-align: center;
}
.show-page-first {
  margin-bottom: 0;
  padding: 40px 40px 0 40px;
}
.show-page-first h3{
  font-size: 40px;
  font-weight: 700;
}
.buttons {
  margin-top: 40px;
}
.buttons .btn-primary {
  margin: 10px;
  padding: 15px 60px;
}
.my-itineraries {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #000;
  text-align: center;
}
.itinerary {
  background-color: #fff;
  box-shadow: rgba(25, 50, 100, 0.25) 0px 10px 50px;
  border-radius: 4px;
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 15px;
  width: 400px;
  height: 400px;
  margin: 20px;
  vertical-align: middle;
}
.itinerary img {
  width: 200px;
  border-radius: 4px;
  margin-top: 10px;
}
.my-itineraries .button {
  margin-top: 120px;
}

/* Edit / Profile Page */
.profile {
  display: flex;
  justify-content: center;
}
.profile-information {
  margin: 40px;
}
.form-group {
  margin-top: 20px;
}
.profile-image {
  position: relative;
  margin-left: 40px;
  margin-top: 100px;
  padding-right: 100px;
  border-right: 0.5px solid #000;
}
.profile-image a {
  position: absolute;
  left: 23%;
  padding: 15px;
}
.profile-image img{
  width: 200px;
}
.profile-information .form-group input{
  width: 520px;
}
.profile-information .actions {
  text-align: center;
}

/* New Itinerary */
.new-itinerary {
  text-align: center;
  margin-top: 100px;
}
.new-itinerary .itinerary-form {
  text-align: center;
  margin-left: 40px;
}
.new-itinerary input{
  width: 60%;
}
.new-itinerary .actions {
  width: 290px;
  margin-left: auto;
  margin-right: auto;
}

/* Edit Itinerary */
.edit-itinerary {
  text-align: center;
  margin-top: 20px;
}
.button_to input {
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: #EC6A5C;
  width:290px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}

/* View Itinerary */
.view-itinerary {
  text-align: center;
  margin-top: 120px;
}

/* Browse Itineraries */

.browse .search-bar {
  margin-bottom: 40px;
}
.browse {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 120px;
}

.itinerary .button_to input {
  position: relative;
  width: 100px;
  border-radius: 5em;
}

/*
.button-like {
  transition: all ease 0.4s;
}

.button-like:focus {
  background-color: transparent;
}


.button-like:hover {
  border-color: #cc4b37;
  background-color: transparent;
  color: #000;
}

.button-like:hover .fa,
.button-like:hover span {
  color: #cc4b37;
}

.liked {
  background-color: #cc4b37;
  border-color: #cc4b37;
}

.liked:focus {
  background-color: #cc4b37;
}

.liked:hover {
  background-color: #cc4b37;
  border-color: #cc4b37;
  color: #fff;
} */
