
/* import font Barlow  */
@import url('https://fonts.googleapis.com/css?family=Barlow');

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------------------------------------------------------------------------- */

html {
  position: relative;
  min-height: 100vh;
}
body {
 font-family: 'Barlow', sans-serif;
 font-size: 16px;
 color: #000;
 background-color: rgb(228, 230, 233);
 margin: 80px 0 40px 0;
 line-height: 1.5;
}
a {
 text-decoration: none;
 color: #000;
}
header {
 top: 0;
 width: 100%;
 padding-top: 20px;
 padding-bottom: 20px;
 border-bottom: 0.1px solid #101D42;
 overflow: hidden;
 display: fixed;
 background-color: #fff;
 position: fixed;
 z-index: 99999;
}
nav {
 float: right;
 vertical-align: middle;
 margin-top: 3px;
}
nav a {
 margin-right: 20px;
 vertical-align: bottom;
}
nav a:active {
  border-bottom: 1px solid #EC6A5C;
}
.logo {
 float: left;
 font-size: 24px;
 font-weight: 700;
 padding-left: 20px;
}
#error_explanation p{
  color: #EC6A5C;
}
h3 {
  text-align: center;
  margin: 0 40px 40px 40px;
  font-weight: 700;
}
footer {
  font-size: 12px;
  background-color: #fff;
  text-align: center;
  padding: 15px 0;
  width: 100vw;
  height: 40px;
  border-top: 0.1px solid #101D42;
  bottom: 0;
  position: absolute;
}
/* Form */
.form{
  padding-top: 60px;
  padding-bottom: 40px;
  margin: 120px auto 100px auto;
  text-align: center;
  width: 400px;
  border-radius: 10px;
  background-color: #fff;
}
.form p {
  width: 220px;
  margin: 10px auto;
  font-size: 14px;
}
.form h3 {
  font-size: 24px;
}
.form-group input {
  border: 1px solid #0A2239;
  border-radius: 4px;
  padding: 15px;
  width: 265px;
  margin-top: 10px;
}
.button {
  margin-top: 20px;
}
.btn-primary {
  width: 300px;
  padding: 15px;
  border-radius: 4px;
  background-color: #EC6A5C;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}
.form a {
  color: #EC6A5C;
}
/* Browse Page */
.search-bar {
  display: flex;
  padding: 16px;
  box-shadow: rgba(25, 50, 100, 0.25) 0px 10px 50px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 20px;
}
.search-bar form {
  width: 100%;
  text-align: left;
}
.search-bar img {
  width: 24px;
  height: 24px;
}
.search-input {
  margin-left: 5px;
  width: 100%;
  padding: 5px;
  border: 0px solid;
  background-color: #fff;
}
.search-input:focus {
  outline: 0;
}
.show-page h3, .featured h3 {
  font-size: 40px;
  font-weight: 700;
}
.show-page {
  padding: 40px;
  padding-bottom: 60px;
}
.featured {
  text-align: center;
}
.feature {
  position: relative;
  display: inline-block;
  margin: 20px;
  width: 300px;
  text-align: center;
}
.feature img {
  width: 250px;
}
.show-all {
  font-size: 18px;
  text-align: center;
  margin: 30px 0 100px 0;
  font-weight: 700;
}

.search-itineraries {
  margin-bottom: 80px;
  text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
}

/* Show Page */
.show-page {
  text-align: center;
}
.show-page p {
  font-size: 14px;
  margin-bottom: 40px;
}
.show-page-first {
  margin-bottom: 0;
  padding-top: 40px;
  text-align: center;
}
.show-page-first h3{
  font-size: 40px;
  font-weight: 700;
}
.buttons {
  margin-top: 40px;
}
.buttons .btn-primary {
  margin: 10px;
  padding: 15px 60px;
}
.my-itineraries {
  padding-bottom: 80px;
  margin-bottom: 40px;
  border-bottom: 1px solid #000;
  text-align: center;
  width:100%;
}

/* itinerary */
.itinerary {
  background-color: #fff;
  box-shadow: rgba(25, 50, 100, 0.25) 0px 10px 50px;
  border-radius: 4px;
  text-align: center;
  padding: 60px 30px 0 30px;
  width: 400px;
  height: 400px;
  margin: 20px;
  position: relative;
}
.itinerary h4 {
  font-size: 20px;
  margin-bottom: 15px;
}
.itinerary img {
  width: 200px;
  border-radius: 4px;
  margin-top: 10px;
}
.social-likes {
  bottom: 20px;
  left: 20px;
  position: absolute;
  text-align: left;
}
.social-likes a {
  font-size: 14px;
}
.social-likes input {
  outline: 0;
}

/* New Itinerary */
.new-itinerary {
  text-align: center;
  margin-top: 100px;
}
.itinerary-form {
  text-align: center;
  margin-left: 40px;
  height: 100vh;
}
.new-itinerary input{
  width: 60%;
}
.new-itinerary .actions {
  width: 290px;
  margin-left: auto;
  margin-right: auto;
}

/* Edit Itinerary */
.edit-itinerary {
  text-align: center;
  margin-top: 20px;
}
.button_to input {
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: #EC6A5C;
  width:290px;
  margin: 15px auto;
  border-radius: 4px;
  color: #fff;
}
.sort-button {
	margin-top: 20px;
}
.show-itinerary-button {
	background-color: #EC6A5C;
	color: #fff;
	border-radius: 4px;
	padding: 5px 15px;
	margin: 10px;
}
.show-itinerary p {
	margin: 10px;
}

@media (max-width: 1500px) {
	.search-itineraries {
		grid-template-columns: 1fr 1fr;
		justify-items: center;
	}
}

@media (max-width: 900px) {
	.search-itineraries {
		grid-template-columns: 1fr;
		justify-items: center;
	}
}
