
/* import font Barlow  */
@import url('https://fonts.googleapis.com/css?family=Barlow');

body {
 font-family: 'Barlow', sans-serif;
 font-size: 16px;
 color: #000;
 margin: 0;
 background-color: rgb(228, 230, 233);
 position: relative;
 min-height: 100vh;
}

a {
 text-decoration: none;
 color: #000;
}
header {
 width: 100%;
 padding-top: 20px;
 padding-bottom: 20px;
 border-bottom: 0.1px solid #101D42;
 overflow: hidden;
 display: fixed;
 background-color: #fff;
}
nav {
 float: right;
 vertical-align: middle;
 margin-top: 3px;
}
nav a {
 margin-right: 20px;
 vertical-align: bottom;
}
nav a:active {
  border-bottom: 1px solid #EC6A5C;
}
.logo {
 float: left;
 font-size: 24px;
 font-weight: 700;
 padding-left: 20px;
}
h3 {
  text-align: center;
  margin: 0 40px 40px 40px;
  font-weight: 700;
}
footer {
  font-size: 12px;
  background-color: #fff;
  text-align: center;
  padding: 15px 0;
  width: 100vw;
  height: 40px;
  border-top: 0.1px solid #101D42;
  position: absolute;
  bottom: 0;
}

/* Login / Signup */
.form{
  text-align: center;
  color: #000;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 400px;
  border-radius: 15px;
  background-color: #fff;
}
.form p {
  width: 220px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
.form-group input {
  border: 0.5px solid #0A2239;
  border-radius: 4px;
  padding: 15px;
  width: 260px;
  margin-top: 10px
}
.btn-primary {
  width: 290px;
  padding: 15px;
  border-radius: 4px;
  background-color: #EC6A5C;
  margin-top: 20px;
  color: #fff;
}
.button {
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: #EC6A5C;
  width:290px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}
a.btn-primary {
  padding: 15px 105px;
}
.form a {
  color: #EC6A5C;
}

/* Browse Page */
.search-bar {
  display: flex;
  padding: 16px;
  box-shadow: rgba(25, 50, 100, 0.25) 0px 10px 50px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 20px;
}
.search-bar img {
  width: 24px;
  height: 24px;
}
.search-input {
  margin-left: 5px;
  width: 60%;
  padding: 5px;
  border: 0px solid;
  background-color: #fff;
}
.search-input:focus {
  outline: 0;
}
.show-page h3, .featured h3 {
  font-size: 40px;
  font-weight: 700;
}
.show-page {
  padding: 40px;
  padding-bottom: 120px;
}
.featured {
  margin-top: 100px;
  text-align: center;
}
.feature {
  position: relative;
  display: inline-block;
  margin: 20px;
  width: 300px;
  text-align: center;
}
.feature img {
  width: 200px;
}
h4 {
  font-size: 20px;
}

/* Show Page */
.show-page p {
  text-align: center;
}
.buttons {
  margin-top: 40px;
}
.buttons .btn-primary {
  margin: 10px;
  padding: 15px 60px;
}
.my-itineraries {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #000;
  text-align: center;
}
.itinerary {
  position: relative;
  display: inline-block;
  text-align: center;
}
.itinerary img {
  width: 200px;
}
.my-itineraries .button {
  margin-top: 120px;
}

/* Edit / Profile Page */
.profile {
  display: flex;
  justify-content: center;
}
.profile-information {
  margin: 40px;
}
.form-group {
  margin-top: 20px;
}
.profile-image {
  position: relative;
  margin-left: 40px;
  margin-top: 100px;
  padding-right: 100px;
  border-right: 0.5px solid #000;
}
.profile-image a {
  position: absolute;
  left: 23%;
  padding: 15px;
}
.profile-image img{
  width: 200px;
}
.profile-information .form-group input{
  width: 520px;
}
.profile-information .actions {
  text-align: center;
}

/* New Itinerary */
.new-itinerary {
  text-align: center;
  margin-top: 100px;
}
.new-itinerary .itinerary-form {
  text-align: left;
  margin-left: 40px;
}
.new-itinerary input{
  width: 60%;
}
.new-itinerary .actions {
  width: 290px;
}
